<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<h1>THIS IS A DOG</h1>


<p>Animal: {{animalType}}</p>
<p>Pet: {{pet}}</p>
<p>Fierceness: {{fierceness}}</p>
<hr>